@{
    Layout = null;
}

<html>
<head>
    <title>参考文献格式生成器 | Aning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
</head>
<body class="narrowStyle">
    <div class="wrapper">
        <div class="header">
            <h1>参考文献格式生成器</h1>
        </div>
        <div class="sidebar">
            <p>
                <label>文献类型:</label>                                                                                                                                                                                      
                <select id="typeSelector">
                </select>
            </p>
            <div class="clean"></div>
            <form id="inputForm"><p><label>作者<span class="required">*</span></label><input type="text" name="作者" value=""><span class="desc">多位作者请用英文逗号“,”分开</span></p><p><label>题目<span class="required">*</span></label><input type="text" name="题目" value=""></p><p><label>期刊名<span class="required">*</span></label><input type="text" name="期刊名" value=""></p><p><label>出版年份<span class="required">*</span></label><input type="text" name="出版年份" value=""></p><p><label>卷号<span class="required">&nbsp;</span></label><input type="text" name="卷号" value=""></p><p><label>期数<span class="required">*</span></label><input type="text" name="期数" value=""></p><p><label>起止页码<span class="required">&nbsp;</span></label><input type="text" name="起止页码" value=""><span class="desc">格式为 xxx-yyy</span></p></form>
            <div class="buttons">
                <span class="desc">("*"为必填项)</span>
                <input id="addBtn" type="button" value="添加">
            </div>
            <div class="clean"></div>
        </div>
        <div class="main">
            <div id="resultDiv" class="resultDiv"></div>
            <div class="desc">可直接复制</div>
        </div>
        <br class="clean">
    </div>
    <script type="text/javascript">
        if (document.body.clientWidth < 700) {
            document.body.className = 'narrowStyle';
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/referance.js" type="text/javascript"></script>
</body>
</html>